__pycache__
/emacs.mine/.config/emacs.mine/elpa/
/emacs.mine/.config/emacs.mine/init.el
/emacs.mine/.config/emacs.mine/parinfer-rust/
/emacs.mine/.config/emacs.mine/straight/
/emacs.mine/.config/emacs.mine/var/
/hypr/.face
